html, a {
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 30, 32);
    font-family: 'Open Sans', sans-serif;
}

.hero_image {
    height: 350px;
    background-image: url("https://www.thesprucecrafts.com/thmb/rlUNkKQbd4zYNdj6UyL0qXOVf_k=/2123x1412/filters:fill(auto,1)/thread-58169a705f9b581c0b669d89.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

#content {
    width: 70%;
    background-color: rgb(36, 36, 36);
    padding: 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 3px 7px;
    font-size: 1.2em;
    margin-right: 3px;
    transition: all ease 0.3s;
}

nav a:hover {
    color: black;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit] {
    width: 100px;
    align-self: flex-end;
}

div.thread {
    border: 1px solid whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
}

img.thread-thumbnail {
    border-radius: 8px;
    object-fit: cover;
    height: 110px;
    width: 145px;
}

div.thread_card_text {
    margin-left: 10px;
}

div.thread_card_text p {
    margin-top: 0;
    margin-bottom: 5px;
}

div.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.thread-details {
    border: 1px solid whitesmoke;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

div.thread-details .thread-details-text {
    margin-left: 10px;
}

.thread_detail_img, .hero_image {
    border-radius: 8px;
}

div.comment-details {
    border: 1px solid whitesmoke;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
}

fieldset {
    border-radius: 8px;
}

fieldset .topic-input {
    border: 1px solid whitesmoke;
}

fieldset .comment-input {
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.flash_message {
    color: goldenrod;
}

.edit_button {
    color: gold;
}

.delete_button {
    color: red;
}
